.message {
    display: grid;
    justify-items: end;
}

.imageAndText {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.imageAndText img {
    width: 48px;
    height: 48px;
    margin: 0px 70px 0px 10px;
}

.text {
    display: grid;
    justify-items: end;
    width: 527px;
    height: 60px;
    background: #0066CC;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 10px;
    color: #FFFFFF;
}

.text:after {
    content: '';
    position: relative;
    left: 14px; bottom: 35.5px;
    border: 30px solid transparent;
    border-bottom: 20px solid #0066CC;
    z-index: 0;
}

.name {
    margin-top: 4px;
    margin-right: 15px;
    display: grid;
    justify-items: end;
    width: 150px;
    height: 22px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}

.messageText {
    margin-right: 15px;
    font-family: 'Montserrat', sans-serif;
}

.time {
    width: 26px;
    height: 12px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
    margin: 5px 80px 0px 0px;
}