.radio {
    width: 20px;
    height: 20px;
}


.radio::before {
}


.radio:checked::before {
}

.label {
    display: flex;
    align-items: center;
    margin-left: 110px;
    margin-bottom: 22px;
    gap: 15px;
}

.options {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
