.friendMessage {

}

.friendImageAndText {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    margin: 0px 10px 0px 70px;
}

.friendText {
    width: 414px;
    height: 60px;
    background: #F5F7FB;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 10px;
}

.friendText:after {
    content: '';
    position: relative;
    left: -13px;
    bottom: 27.5px;
    border: 20px solid transparent;
    border-bottom: 15px solid #F5F7FB;
    z-index: 0;
}

.friendName {
    width: 150px;
    height: 28px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-top: 4px;
    margin-left: 15px;
}

.friendMessageText {
    margin-left: 15px;
    font-family: 'Montserrat', sans-serif;
}

.friendTime {
    width: 26px;
    height: 12px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
    margin: 5px 0px 0px 80px;
}
