.button {
    height: 30px;
    width: 132px;
    border-radius: 3px;
    padding: 5px 24px 5px 24px;
}

.disabled {
    background: #004D99;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    opacity: 0.5;
}

.secondary {
    border: 2px solid #004D99;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #004D99;
    background-color: white;
}

.default {
    background: #004D99;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.red {
    background: #CC1439;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.default:hover {
    width: 167px;
}

.red:hover {
    width: 167px;
}

.secondary:hover {
    width: 167px;
}


.default:active {
    background: #0059B3;
    width: 133px;
}

.secondary:active {
    background: #C9E5FF;
}

.red:active {
    background: #B31232;
    width: 129px;
}

.button:disabled {
}
